<h1>Dead Simple Weather Descriptions</h1>

<h3><%="It's #{@article} #{@adjective} day in #{@location}" %></h3>
<p>

</p>

<p>
  <%= "For #{@location} predicted #{@temp} degrees F and humidity is #{@humidity}% and wind speed is #{@wind_speed} mph" %>
</p>
<p>
  <%= "It #{@any_rain ? 'might rain' : 'probably won\'t rain'} today." %>
</p>