<h1>Check the Weather!</h1>
<p>Please type "City, Region" like "Chicago, IL" or "Moscow, Russia" or type a 5-digit US zip code.</p>

<%= form_with url: predictor_display_url  do |form| %>
    <%= form.label 'City comma region' %>
    <%= form.text_field :city_comma_region %>
    <%= form.button 'Submit' %>
<% end %>

