<h1>Editing Temperature Prediction</h1>

<%= render 'form', temperature_prediction: @temperature_prediction %>

<%= link_to 'Show', @temperature_prediction %> |
<%= link_to 'Back', temperature_predictions_path %>
